@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: grey
}

ul {
  margin: 0;
  padding: 0;
  gap: 16px;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  font-family: Roboto, sans-serif;
  flex-direction: column;
}

img {
  width: 600px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color:lightgray;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 11px;
  margin-top: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
.left-links , .right-links {
  display: flex;
  padding:8px;
  font-size: small;
}

.content {
  justify-items: center;
  flex: 1;
}