body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 5px 
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px
}

.content {
  background: #e3f4ff;
  padding: 15px
}

.button-container {
  background: #e3f4ff;
  padding: 5px;
  text-align: center;
  margin: 10px auto;
}

button {
  background: white;
  border: 5px solid #ffffff;
  margin: 0 auto;
  display: block;
}